/* Universal properties */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Sono', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?weather');
}

/* Real-time Weather container */
.container {
background: #000000d0;
color: white;
padding: 2em;
border-radius: 30px;
width: auto;
max-width: 420px;
margin: 1em;
}

/* Search bar and button*/
.search {
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    align-items: center;
    margin: .5em;
    border-radius: 50%;
    border: #222;
    height: 36px;
    width: 36px;
    background: #7c7c7c2b;
    cursor: pointer;

}

button:hover {
    background: #7c7c7c6b;
}

input.search-bar {
    border: none;
    outline: none;
    padding: .3em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: gray;
    font-size: 110%;
}

input:hover {
    background: #7c7c7c6b;
}

.weather.loading{
    visibility: hidden;
}

/* Future dates

#fourday-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #000000d0;
    color: white;
    font-size:x-small;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    max-height: 64px;
    margin: 1em;
}

.future {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.3rem;
    max-width: 105px;
    max-height: 128px;
}
*/

/* Formated for iPhone 12 */
@media screen and (max-width:391px){
    .container {
        font-size: 12px;
    }
}  