/* Universal properties */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Sono', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?weather');
}
.container {
background: #000000d0;
color: white;
padding: 2em;
border-radius: 30px;
width: 100%;
max-width: 420px;
margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    margin: .5em;
    border-radius: 50%;
    border: #222;
    height: 36px;
    width: 36px;
    background: #7c7c7c2b;
    cursor: pointer;

}

button:hover {
    background: #7c7c7c6b;
}

input.search-bar {
    border: none;
    outline: none;
    padding: .3em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: gray;
    font-size: 110%;
}

input:hover {
    background: #7c7c7c6b;
}